@model Univer.Models.Student

@{
    ViewData["Title"] = "Информация о студенте";
}

<h1>Информация о студенте</h1>

<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ФИО
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            Номер телефона
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Фото
        </dt>
        <dd class = "col-sm-10">
            <img class="image_student" src="@Model.Photo" />
        </dd>
        <dt class = "col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @if (Model.Course is not null)
            {
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">@Model.Course.Title</a>
            }
        </dd>
        <dt class = "col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @if (Model.Group is not null)
            {
                <a asp-controller="Groups" asp-action="Details" asp-route-id="@Model.GroupId">@Model.Group.Title</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
