@model Univer.Models.Course

@{
    ViewData["Title"] = "Удалить";
}

<h1>Delete</h1>

<h3>Вы уверены, что хотите удалить данный объект?</h3>
<div>
    <h4>Курс</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Курс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Группы
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (Group g in Model.Groups)
                {
                    <li>
                        <a asp-controller="Groups" asp-action="Details" asp-route-id="@g.Id">@g.Title</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Преподаватели
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (Instructor g in Model.Instructors)
                {
                    <li>
                        <a asp-controller="Instructors" asp-action="Details" asp-route-id="@g.Id">@g.FullName</a>
                    </li>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            Студенты
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (Student g in Model.Students)
                {
                    <li>
                        <a asp-controller="Students" asp-action="Details" asp-route-id="@g.Id">@g.FullName</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
